
.navbar-dark{
    text-align:center;
}
.media{
    margin-top: 45px;
    float: center;
    color: whitesmoke;
    text-shadow: whitesmoke 1px 1px;
    text-shadow:black -1.5px -1.5px;
}

.row{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
}
    .textbox1 {
    box-sizing: content-box;
    height: 500px;
    width: 300px;
    background: rgba(223, 227, 231, 0.603);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: 10px;
  } 
    .textbox2 {
    box-sizing: content-box;
    height: 500px;
    width: 300px;
    background: rgba(223, 227, 231, 0.603);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: 10px;
  }
    .textbox3 {
    box-sizing: content-box;
    height: 500px;
    width: 300px;
    background: rgba(223, 227, 231, 0.603);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: 10px;
  }
    .textbox4 {
    
   
    background: rgba(223, 227, 231, 0.603);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: 10px;
  } 
    .textbox5 {
    
    
    background: rgba(223, 227, 231, 0.603);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: 10px;
  }
    .textbox6 {
    
   
    background: rgba(223, 227, 231, 0.603);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: 10px;
  }
    body {
    background-color:slategrey;
}
    h1{
    margin-top: 30px;
    text-align: center;
    text-size-adjust: 100px;
    color: whitesmoke;
    text-shadow: whitesmoke 1px 1px;
    text-shadow:black -1.5px -1.5px;
    font-weight: bolder;
}
    h3{
    color: whitesmoke;
    text-shadow: whitesmoke 1px 1px;
    text-shadow:black -1.5px -1.5px;
    font-weight: bolder;
    text-align: left;
    margin-left: ;
    text-size-adjust: 100px;
}
    h5{
    color: whitesmoke;
    text-shadow: whitesmoke 1px 1px;
    text-shadow:black -1.5px -1.5px;
    font-weight: bolder;
    text-align: left;
    margin-left: ;
    text-size-adjust: 100px;
}
    .cardtitle {
    text-size-adjust: 100px;
    font-weight: bolder;
}
    .card-body{
    background-color: teal;
    color: teal;
}
    p{
    font-weight: bold;
}
    address {
    text-align: center;
    color: whitesmoke;
    text-shadow:black -1.5px -1.5px;
    text-size-adjust: 28px;
}
    .display-4{
    font-size: 200px;
}
    .zoom{
    text-align: center;
    height: 450;
    width: 450;
    position: relative;
}

.home{
    text-align: center;
    margin-top: 15%;
}













    /* .card1{
    margin-top: 50px;
    position: relative;
}
    .card2{
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
}
    .card{
    margin-top: 50px;
    position: relative;
} */
    h2{
    text-align: center;
}
/* .nav nav-pills mb-3{
    margin-bottom: 0px;
}

.bckImg{
    background-position: top;
    height: 150px;
    width: 100%;
    background-image: url("https://live.staticflickr.com/7444/16366989801_39b3384a5e_b.jpg");
    position: relative;
}

body{
    background-color: powderblue;
}

ul{
    
    position: relative;
}

a{
    color: whitesmoke;
}

.display-4{
    text-align: center;
    text-size-adjust: 300px;
    color: brown;
    text-shadow:whitesmoke 1px 0 10px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lead {
    text-align: center;
    color:black;
    text-shadow:whitesmoke 1px 0 10px;
    text-size-adjust: 200px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    
/* /* .row{
    margin-top: 30px;
} */  */
